html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100;
    font: inherit;
    vertical-align: baseline;
    background-repeat: no-repeat;
}

.section_subnav div > i {
    background-image: url(../../images/user/circle_32.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-style: normal;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: #FFF;
}

.section_subnav p {
    position: relative;
    top: 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-top: -8px;
    color: #a5a5a5;
}

.section_subnav > ul > li > i {
    float: left;
    background-image: url(../../images/user/line.png);
    background-repeat: no-repeat;
    width: 220px;
    height: 2px;
    margin-top: 14px;
    vertical-align: middle;
    background-color: #ededed;
}

.section_subnav > ul > li > div {
    float: left;
}

.section {
    width: 100%;
}

.section > div {
    width: 1000px;
    margin: 0 auto;
}

.section .section_main > div {
    margin-top: 50px;
}

.section .section_main .section-tips {
    margin-top: 0;
}

.section-subnav {
    height: 80px;
    background-color: #f5f5f5;
}

.section_subnav .subnav_process {
    padding-top: 14px;
    text-align: center;
    *margin-left: 60px;
}

.section_subnav .subnav_process > li {
    position: relative;
    display: inline-block;
    *float: left;
}

.section_subnav .subnav_process > li > i {
    float: left;
    width: 220px;
    height: 2px;
    margin-top: 14px;
    vertical-align: middle;
    background-color: #ededed;
}

.section_subnav .subnav_process > li > div {
    text-align: center;
    position: relative;
    float: left;
    min-width: 56px;
    height: 34px;
    line-height: 30px;
    vertical-align: middle;
}

.section_subnav .subnav_process > li > div > i {
    width: 28px;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    color: #fff;
    background-image: url(../../images/user/common.png);
    background-position: 0 -442px;
    background-repeat: no-repeat;
    background-color: none;
}

@media only screen and(-webkit-min-device-pixel-ratio: 2), only screen and(min--moz-device-pixel-ratio: 2), only screen and(min-device-pixel-ratio: 2), only screen and(min-resolution: 192dpi), only screen and(min-resolution: 2dppx) {
    .section_subnav .subnav_process > li > div > i {
        background-image: url(../../images/user/common@2x.png);
        background-size: 250px 600px;
    }
}

.section_subnav .subnav_process > li > div > p {
    position: relative;
    top: 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-top: -8px;
    color: #a5a5a5;
}

.section_subnav .subnav_process .passed > i {
    background-color: #2f86f6;
}

.section_subnav .subnav_process .passed > div > i {
    background-image: url(../../images/user/common.png);
    background-position: 0 -404px;
    background-repeat: no-repeat;
    background-color: none;
}

@media only screen and(-webkit-min-device-pixel-ratio: 2), only screen and(min--moz-device-pixel-ratio: 2), only screen and(min-device-pixel-ratio: 2), only screen and(min-resolution: 192dpi), only screen and(min-resolution: 2dppx) {
    .section_subnav .subnav_process .passed > div > i {
        background-image: url(../../images/user/common@2x.png);
        background-size: 250px 600px;
    }
}

.section_subnav .subnav_process .active > i {
    background-image: url(../../images/user/common.png);
    background-position: 0 -392px;
    background-repeat: no-repeat;
    background-color: none;
}

@media only screen and(-webkit-min-device-pixel-ratio: 2), only screen and(min--moz-device-pixel-ratio: 2), only screen and(min-device-pixel-ratio: 2), only screen and(min-resolution: 192dpi), only screen and(min-resolution: 2dppx) {
    .section_subnav .subnav_process .active > i {
        background-image: url(../../images/user/common@2x.png);
        background-size: 250px 600px;
    }
}

.section_subnav .subnav_process .active > div > i {
    background-image: url(../../images/user/common.png);
    background-position: 0 -404px;
    background-repeat: no-repeat;
    background-color: none;
}

@media only screen and(-webkit-min-device-pixel-ratio: 2), only screen and(min--moz-device-pixel-ratio: 2), only screen and(min-device-pixel-ratio: 2), only screen and(min-resolution: 192dpi), only screen and(min-resolution: 2dppx) {
    .section_subnav .subnav_process .active > div > i {
        background-image: url(../../images/user/common@2x.png);
        background-size: 250px 600px;
    }
}

.section_subnav .subnav_process .last {
    margin-right: 0;
}

.section_subnav .subnav_process .last > i {
    display: none;
}

.container {
    /*text-align: center;*/
}

.main {
    padding-top: 20px;
    width: 300px;
    margin: auto;
    padding: 40px 0 40px 0;
}

.main label {
    padding: 0 0 8px 0;
}

.inputFiled {
    font-size: 14px;
    padding: 0px 0 20px 0;
}

.codeText {
    width: 150px;
}
.msgDiv {
    display: none;
    min-height: 29px;
    width: 300px;
    border: 1px solid #faccc6;
    color: #e4393c;
    background: #ffebeb;
    margin: 0 0 10px 0;
}

.msgDiv span {
    background:url(../../images/user/error_16.png) no-repeat 0 center;
    background-position-x: 10px;
    vertical-align:middle;
    font-size: 12px;
    padding: 10px 0 10px 40px;
}
