@charset "utf-8";

body {
    color: #000;
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    vertical-align: middle;
}

.main {
    margin: 50px auto 30px;
    width: 800px;
    box-shadow: 0 0 20px #C7C5C5;
    padding: 50px 50px 50px 50px;
    border-radius: 10px;
    background-color: #FCFCFC;
}

.formDir {
    margin: 0 auto;
    width: 400px;
}

.registerText {
    width: 400px;
    height: 50px;
    border: 1px solid #BDBDBD;
    padding: 10px 0 10px 40px;
}

.msgDiv {
    min-height: 29px;
    width: 400px;
    visibility: hidden;
}

.msgDiv span {
    margin: 0;
    background: url("../../images/user/warning_16-2.png") no-repeat;
    background-position-x: 0px;
    vertical-align: middle;
    font-size: 12px;
    padding: 1px 0 10px 20px;
    text-align: left;
    color: #757575;
}

.registerBtn {
    width: 400px;
    height: 50px;
    background-color: #B7D4E4;
    color: #FFFFFF;
    font-size: 24px;
    border: 1px solid;
}

.codeText {
    width: 265px;
    height: 50px;
    border: 1px solid #BDBDBD;
    padding: 10px 0 10px 40px;
    visibility: visible;
    background: url(../../images/user/code_blue_24.png) no-repeat 0 center;
    background-position-x: 10px;
}

#username {
    background: url(../../images/user/user_blue_24.png) no-repeat 0 center;
    background-position-x: 10px;
}

input[type=password] {
    background: url(../../images/user/lock_blue_24.png) no-repeat 0 center;
    background-position-x: 10px;
}

#phone {
    background: url(../../images/user/phone_blue_24.png) no-repeat 0 center;
    background-position-x: 10px;
}

#phoneCode {
    background: url(../../images/user/phoneCode_blue_24.png) no-repeat 0 center;
    background-position-x: 10px;
}

.redBorder {
    border: 1px solid red !important;
}

.reg_button {
    width: 130px;
    height: 48px;
    background: #f2f2f2;
    border: none;
    color: #333;
}

#registerDialog {
    /*display: none;*/
    background-color: #5bc0de;
}