body{
    margin: 0px;
    padding: 0px;
    font: 13px/ 18px "宋体", arial, sans-serif;
}

#header {
    height: 75px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e3e3e3;
    box-shadow: 0 0 2px #E3E3E3;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:link {
    text-decoration:none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

