body {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: 150%;
    margin: auto;
    font: 12px/ 17px "宋体", arial, sans-serif;
    color: #585858;
}

#shortcut-2014 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #e3e4e5;
    border-bottom: solid 1px #ddd;
}

#shortcut-2014 li {
    float: left;
    height: 30px;
    padding: 0 2px;
}

#shortcut-2014 #ttbar-mycity .dt {
    padding: 0 25px 0 10px;
}

#shortcut-2014 #ttbar-mycity .glyphicon {
    position: relative;
    display: inline;
    font-size: 12px;
    color: #5c5452;
}

.glyphicon {
    font-style: normal;
    -webkit-text-stroke-width: .2px;
}

#shortcut-2014 #ttbar-mycity .dd {
    width: 315px;
    padding: 10px 0 10px 10px;
}

#shortcut-2014 .dorpdown-layer {
    top: 30px;
    background: #fff;
    border: 1px solid #ddd;
}

#shortcut-2014 .dd {
    line-height: 24px;
}

#shortcut-2014 .dorpdown-layer {
    display: none;
    position: absolute;
}

#shortcut-2014 #ttbar-mycity .dd-spacer {
    left: 0;
    width: 77px;
}

#shortcut-2014 .dd-spacer {
    position: absolute;
    top: -7px;
    height: 10px;
    background: #fff;
    overflow: hidden;
}

#shortcut-2014 #ttbar-mycity.hover .dt, #shortcut-2014 #ttbar-mycity:hover .dt {
    background: #FFF;
    border: 1px solid #dfdfdf;
}

#shortcut-2014 #ttbar-mycity.hover .dorpdown-layer, #shortcut-2014 #ttbar-mycity:hover .dorpdown-layer {
    display: block;
    position: absolute;
    z-index: 13;
}

#shortcut-2014 #ttbar-mycity .item {
    float: left;
    width: 60px;
    padding: 2px 0;
}

#shortcut-2014 #ttbar-mycity .item a.selected {
    background: #f30213;
    color: #fff;
}

#shortcut-2014 #ttbar-mycity .item a {
    float: left;
    padding: 0 8px;
}

#shortcut-2014 #ttbar-mycity .item:hover a {
    background: #F4F4F4;
}

#ttbar-myjd .glyphicon-menu-down {
    width: 5px;
    height: 5px;
    color: #5c5452;
}

.top a, ul, li {
    margin: 0;
}

i {
    font-style: normal;
}

b {
    margin: 0;
    padding: 0;
}

strong, b {
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.top {
    margin: 0;
    padding: 0;
    background: #e3e4e5;
    border-bottom: solid 1px #ddd;
    height: 30px;
    width: 100%;
}

.w {
    width: 1210px;
    margin: 0 auto;
    height: 30px;
}

.fl {
    float: left;
}

.fl li {
    float: left;
    height: 30px;
}

.glyphicon {
    font-size: 14px;
    color: #5c5452;
}

.top a {
    color: #999;
    font-size: 12px;
}

a:hover {
    color: #f30213;
}

.fr {
    float: right;
}

.fr li {
    background-color: #e3e4e5;
}

.fr li {
    float: left;
    height: 30px;
}

#logoDiv {
    position: relative;
    z-index: 12;
    float: left;
    width: 276px;
    height: 50px;
    margin: 15px 0 22px;
}

.logo {
    display: block;
    margin-top: 6px;
    width: 276px;
    height: 44px;
    background: url(http://misc.360buyimg.com/jdf/1.0.0/unit/global-header/5.0.0/i/jdlogo-201708-@1x.png) no-repeat 0 50%;
    background-size: 134px 42px;
    text-indent: -20000px;
}

#searchDiv {
    width: auto;
    z-index: 11;
    float: left;
    margin: 27px 30px 0 95px;
}

#searchDiv .form {
    width: auto;
    height: 40px;
}

#searchDiv .text {
    width: 446px;
    float: left;
    line-height: 24px;
    padding: 4px;
    margin-bottom: 4px;
    border-width: 2px 0 2px 2px;
    border-color: #f30213;
    border-style: solid;
    outline: 0;
    font-size: 12px;
}

#searchDiv .blurcolor {
    color: #b2b2b2;
}
#searchDiv .button {
    float: left;
    width: 82px;
    height: 36px;
    font-family: tahoma,arial,Microsoft YaHei,Hiragino Sans GB,"\u5b8b\u4f53",sans-serif;
    background: #f30213;
    border: none;
    line-height: 1;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#searchDiv .cw-icon {
    position: relative;
    zoom: 1;
}

#searchDiv .cw-icon i {
    top: 0;
    left: 0;
    width: 82px;
    height: 36px;
    display: block;
    position: absolute;
    overflow: hidden;
}

#settleupDiv {
    float: left;
    z-index: 11;
    height: 36px;
    margin-top: 27px;
}

.dropdown {
    position: relative;
}

#settleupDiv .cw-icon {
    width: 140px;
    height: 36px;
    border: 1px solid #dfdfdf;
    padding: 0 28px 0 19px;
    background: #f9f9f9;
    line-height: 34px;
    position: relative;
    zoom: 1;
    cursor: default;
}

#settleupDiv .glyphicon {
    color: #f30213;
}

#settleupDiv .ci-count {
    position: absolute;
    top: 7px;
    left: 105px;
    display: inline-block;
    padding: 1px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -1px;
    color: #fff;
    background-color: #da1026;
    border-radius: 7px;
    width: 14px;
    font-family: tahoma,arial;
    text-align: center;
}

#settleupDiv .cw-icon a {
    color: #f30213;
    text-decoration: none;
}

#settleupDiv.hover .cw-icon, #settleupDiv.hover .dropdown-layer, #settleupDiv:hover .cw-icon, #settleupDiv:hover .dropdown-layer {
    background: #FFF;
    border: 1px solid #dfdfdf;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.dropdown-layer {
    display: none;
    position: absolute;
}

#settleupDiv .prompt {
    padding: 10px 15px;
}

#settleupDiv.hover .dropdown-layer {
    display: block;
    right: 0;
    width: 308px;
}

#settleupDiv .nogoods {
    padding-left: 30px;
    height: 49px;
    line-height: 49px;
    overflow: hidden;
    color: #999;
}

#settleupDiv .nogoods b {
    float: left;
    width: 56px;
    height: 49px;
    background-image: url(http://misc.360buyimg.com/jdf/1.0.0/unit/shoppingcart/5.0.0/i/settleup-nogoods.png);
}

#settleupDiv.hover .spacer, #settleupDiv:hover .spacer {
    position: absolute;
    right: 0;
    top: -7px;
    width: 138px;
    height: 12px;
    background: #FFFFFF;
}

#settleup-content {
    position: relative;
    z-index: 2;
    width: 100%;
    background: #fff;
}

#settleup-content .smt {
    height: 25px;
    padding: 6px 8px;
    line-height: 25px;
}

.m, .mb, .mc, .mt, .sm, .smb, .smc, .smt {
    overflow: hidden;
    zoom: 1;
}

#settleup-content .smc {
    background: #fff;
    height: auto !important;
    max-height: 344px;
    overflow: auto;
}

#settleup-content ul {
    margin-top: -1px;
}

#settleup-content li {
    padding: 8px 10px;
    border-top: 1px dotted #ccc;
    overflow: hidden;
    line-height: 17px;
    vertical-align: middle;
}

#settleup-content .p-img {
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    padding: 0;
    margin-right: 10px;
    font-size: 0;
}

a {
    color: #666;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

#settleup-content .p-name {
    float: left;
    width: 120px;
    height: 52px;
}

#settleup-content .p-detail {
    float: right;
    text-align: right;
}

#settleup-content .p-price {
    font-weight: 700;
}

.p-detail, .p-img, .p-market, .p-name, .p-price {
    overflow: hidden;
}

.p-price strong {
    color: #e4393c;
    font-weight: 400;
    font-family: Verdana;
}

#settleup-content li .gift {
    height: 17px;
    width: 282px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#settleup-content li .gift a {
    color: #999;
}

#settleup-content .smb {
    padding: 8px;
    background: #F5F5F5;
}

#settleup-content .smb .p-total {
    float: left;
    line-height: 29px;
}

#settleup-content .smb a {
    float: right;
    height: 29px;
    padding: 0 10px;
    background: #E4393C;
    color: #fff;
    text-align: center;
    font-weight: 700;
    line-height: 29px;
    -webkit-border-radius: 3px;
}

#settleup-content .smc ul:hover {
    background: #ddd;
}

#settleup-content .loading {
    display: none;
    height: 50px;
    background: url(http://misc.360buyimg.com/jdf/1.0.0/unit/globalImages/1.0.0/loading.gif) no-repeat center center;
}

#hotwords {
    float: left;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding-left: 95px;
    width: 630px;
}

#hotwords.haveline a {
    margin-right: 0;
}

#hotwords a {
    font: 12px/20px "Helvetica Neue","Hiragino Sans GB",SimSun,serif;
    float: left;
    white-space: nowrap;
    color: #b2b2b2;
    height: 20px;
}

#hotwords.haveline b {
    display: block;
    float: left;
    width: 21px;
    font: 12px/20px "Helvetica Neue","Hiragino Sans GB",SimSun,serif;
    color: #ccc;
    text-align: center;
}